= content_for :title, "#{@event.partner_one} & #{@event.partner_two} Wedding - #{@event.formatted_time}"

.box.box--mint
  .row
    .column.small-12
      %h1
        = @event.partner_one
        %span.font--pacifico &
        = @event.partner_two
.row
  .column.small-12
    %h5 Get married on
    %h3= @event.formatted_time

#location.inverted.paralax{ :style => "background-image: url('#{@primary_venue_photo}');" }
  .row
    .column.small-12
      %br
      %br
      %br

      %h2= "at the beautiful #{@event.location}"
      %h4= "in #{@event.venue_address_city}"

      %br
      %br
      %br

      - if @event.show_rsvp?
        = link_to raw("<span class='icon icon-pencil'></span> RSVP now"), "#rsvp", class: "button large js-scroll-to"
        = link_to raw("<span class='icon icon-location'></span> Venue"), "#venue", class: "button large js-scroll-to"
      - if @event.show_registry?
        = link_to raw("<span class='icon icon-gift'></span>Wedding Gifts"), "#Gifts", class: "button large js-scroll-to"
- if @event.show_rsvp?
  %br

  #rsvp.row{ng: { controller: "RsvpController" }}
    .column.small-12
      %h5 RSVP
      = simple_form_for rsvp_event_groups_path(@event) do |f|
        %h3 Step one - enter your name
        .row
          .column.small-12.column.medium-6.medium-offset-3
            = f.input :guest, collection: @groups, as: :select, placeholder: "Select your name(s)"
        %br

      .row
        .column.small-12.medium-6{ "ng-repeat" => "guest in group" }
          .card
            %h3 {{ guestName(guest) }}
            %input{type: "text", placeholder: "enter guest name", ng: { show: "guest.is_guest", model: "newGuest.name" }}
            %p {{ rsvpStatus(guest) }}
            %span.button{ng: { show: "guest.rsvp == null && !guest.is_guest", click: "setRsvp(guest, false)"}} Sorry I cannot attend
            %span.button{ng: { hide: "guest.is_guest || guest.rsvp", click: "setRsvp(guest, true)"}} {{ rsvpButtonText(guest) }}
            %span.button{ng: { show: "guest.rsvp", click: "setRsvp(guest, false)"}} Sorry I can no longer make it
            %span.button{ng: { show: "guest.is_guest", disabled: "newGuest.name == ''", click: "defineGuest(guest)"}} {{ rsvpButtonText(guest) }}

            .reset{ng: {show: "guest.rsvp && guest.invited_to_ceremony"}}
              %label
                %input{type: "checkbox", ng: {change: "toggleVegetarian(guest)", model: "guest.vegetarian"}}
                Vegetarian

#venue
.box.box--mint
  .row
    .column.small-12
      %h5 Venue

  .row-fluid.overflow
    %ul.small-block-grid-3
      - @venue_photos.first(3).each do |venue_photo|
        %li= image_tag venue_photo.file_url

  .row
    .column.small-12
      #venue-copy
        %h3= @event.venue_name
        = raw(@event.venue_body.from_markdown_to_html)
        %br
        %h4 Directions
        = raw(@event.venue_directions.from_markdown_to_html)
        %br
        .map--overlay{onclick: "style.pointerEvents='none'"}
        :plain
          <iframe src="//www.google.com/maps/embed/v1/place?q=Harrods,Brompton%20Rd,%20UK
          &zoom=17
          &key=AIzaSyAaAFnOj6ksETWvLdFUP5Mqc_rIOi93Kk4&callback=initMap">
          </iframe>
- if @event.show_registry?
  #Gifts
  .box.box--mint
    .row
      .column.small-12
        %h5 Wedding Gifts
    .row-fluid.overflow
      %ul.small-block-grid-3
        - @venue_photos.last(3).each do |venue_photo|
          %li= image_tag venue_photo.file_url
    .row
      .column.small-12
        #venue-copy
          = raw(@event.registry_body.from_markdown_to_html)
  
- @event.sections.each do |section|
  %section
    .row
      .column.small-12.medium-8.medium-offset-2
        %h5= section.title
        = raw(section.content.from_markdown_to_html)


%br

.row
  .column.small-12.medium-8.medium-offset-2
    %h5 Photos

- if @event.show_photos?(params)
  = render partial: "photos/form"
  = render partial: "photos/index"
  #modalDropImages.reveal-modal{"data-reveal" => "", :style => "display: block;"}
    %h2.text--salmon Drop images to upload
- else
  .row
    .column.small-12
      %p We invite you back to this website after the wedding to view and upload photos

%br

%footer
  %p
    %small
      For our techie friends hitched.it is an
      %a{:href => "http://github.com/adambutler/wedding-on-rails"} open source project
      built on Ruby-on-Rails.

